<div>
  <mat-dialog-content>
    <form #createForm="ngForm">
      <div class="row">
        <h4 class="text-left" style="color: #5bc9a1">{{(update?"Edit Command":"Create Command")}}</h4>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Command</mat-label>
                <textarea
                  matInput
                  placeholder="Command"
                  name="announcementContent"
                  [(ngModel)]="formData.announcementContent"
                  #announcementContentTemp="ngModel"
                  required
                ></textarea>
                <mat-error
                  *ngIf="announcementContentTemp.invalid &&
                    (announcementContentTemp.dirty || announcementContentTemp.touched)"
                  >Command is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Announcement 1</mat-label>
                <textarea
                  matInput
                  placeholder="announcement1"
                  name="announcement1Content"
                  [(ngModel)]="formData.announcement1Content"
                  #announcement1ContentTemp="ngModel"
                ></textarea>
                <mat-error
                  *ngIf="announcement1ContentTemp.invalid &&
                    (announcement1ContentTemp.dirty || announcement1ContentTemp.touched)"
                  >Announcement 1 is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Announcement 2</mat-label>
                <textarea
                  matInput
                  placeholder="announcement2"
                  name="announcement2Content"
                  [(ngModel)]="formData.announcement2Content"
                  #announcement2ContentTemp="ngModel"
                ></textarea>
                <mat-error
                  *ngIf="announcement2ContentTemp.invalid &&
                    (announcement2ContentTemp.dirty || announcement2ContentTemp.touched)"
                  >Announcement 2 is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Announcement 3</mat-label>
                <textarea
                  matInput
                  placeholder="announcement3"
                  name="announcement3Content"
                  [(ngModel)]="formData.announcement3Content"
                  #announcement3ContentTemp="ngModel"
                ></textarea>
                <mat-error
                  *ngIf="announcement3ContentTemp.invalid &&
                    (announcement3ContentTemp.dirty || announcement3ContentTemp.touched)"
                  >Announcement 3 is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Announcement 4</mat-label>
                <textarea
                  matInput
                  placeholder="announcement4"
                  name="announcement4Content"
                  [(ngModel)]="formData.announcement4Content"
                  #announcement4ContentTemp="ngModel"                  
                ></textarea>
                <mat-error
                  *ngIf="announcement4ContentTemp.invalid &&
                    (announcement4ContentTemp.dirty || announcement4ContentTemp.touched)"
                  >Announcement 4 is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Announcement 5</mat-label>
                <textarea
                  matInput
                  placeholder="announcement5"
                  name="announcement5Content"
                  [(ngModel)]="formData.announcement5Content"
                  #announcement5ContentTemp="ngModel"
                ></textarea>
                <mat-error
                  *ngIf="announcement5ContentTemp.invalid &&
                    (announcement5ContentTemp.dirty || announcement5ContentTemp.touched)"
                  >Announcement 5 is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="data.updateAnnouncement" mat-raised-button color="primary" (click)="updateAnnouncement()" [disabled]="!createForm.valid">Save</button>
    
    <button *ngIf="!data.updateAnnouncement" mat-raised-button color="primary" (click)="onSave()" [disabled]="!createForm.valid">Save</button>
    <button mat-raised-button color="warn" matDialogClose>Close</button>
  </mat-dialog-actions>
</div>
