<app-side-bar-user>
  <div class="row">
    <h2>Dashboard</h2>
    <hr />
    <div class="d-flex justify-content-end my-3">
      <mat-form-field appearance="outline" class="mx-2">
        <mat-label>Start Date</mat-label>
        <input matInput [(ngModel)]="startDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput [(ngModel)]="startDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col" *ngFor="let column of displayedColumns">
              {{ column }}
            </th>
            <th>
              <button mat-icon-button color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ data.batch }}</td>
            <td>{{ data.articleTypes }}</td>
            <td>{{ data.article }}</td>
            <td>{{ data.pages }}</td>
            <td>{{ data.processType }}</td>
            <td>{{ data.assignedTo.username }}</td>
            <td>{{ data.status }}</td>
            <td>aa</td>
            <td>{{ data.createdAt }}</td>
            <td>{{ data.updatedAt }}</td>
            <td>
              <div class="d-flex">
                <button mat-icon-button color="primary" matTooltip="edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" matTooltip="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-side-bar-user>
