<app-side-bar-user>
  <div *ngIf="loading" class="d-flex align-items-center justify-content-center">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <h2 class="text-center">
      <span class="page-heading">Announcements</span></h2>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div *ngFor="let announcement of dataSource">
          <mat-card class="mb-2" *ngIf="announcement.announcement1Content">
            <div><h5>{{announcement.announcement1Content}}</h5></div>
          </mat-card>
          <mat-card class="mb-2" *ngIf="announcement.announcement2Content">
            <div><h5>{{announcement.announcement2Content}}</h5></div>
          </mat-card>
          <mat-card class="mb-2" *ngIf="announcement.announcement3Content">
            <div><h5>{{announcement.announcement3Content}}</h5></div>
          </mat-card>
          <mat-card class="mb-2" *ngIf="announcement.announcement4Content">
            <div><h5>{{announcement.announcement4Content}}</h5></div>
          </mat-card>
          <mat-card class="mb-2" *ngIf="announcement.announcement5Content">
            <div><h5>{{announcement.announcement5Content}}</h5></div>
          </mat-card>          
        </div>
      </div>
      
    </div>
  </div>
</app-side-bar-user>
